<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nuevo usuario SISGEPAL</title>
</head>
<body>

    <div class="container text-center">
        <div class="container">
            <h1 class="heading-color">¡Hola, te entregamos tus credenciales de SISGEPAL!</h1>
            <div class="container_icon">
                <img class="img-fluid img" src="img/icon_clear.png"  alt="icono sisgepal">
            </div>
        </div>
        <div>
            <p class="p-info info-container "
                th:text="${email.credentials.name} nos complace informarte que ya tienes un usuario asignado para acceder al sistema SISGEPAL">
            </p>
        </div>
    </div>
    <div class="container text-center">
        <table class="font-size-table">
            <tr class="heading-color">
                <th>Usuario</th>
                <th>Contraseña</th>
            </tr>
            <tr>
                <td th:text="email.credentials.user">
                </td>
                <td th:text="email.credentials.password">
                </td>
            </tr>
        </table>

        <p  class="p-info cambia-container">Deberás cambiar la contraseña en tu primer inicio de sesión.</p>
    </div>
    
</body>
</html>