.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img {
    height: 10rem;
}

.text-center {
    text-align: center;;
}

table, th, td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

body {
    background-color: rgb(188,206,251);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-color {
    color: #b70a4f;
}
.p-info {
    font-size: 1.2rem;
}

.info-container {
    background-color: #6bbec6;
    padding: 0.5rem;
    border-radius: 2rem;
}

.cambia-container {
    background-color: #ffdd09;
    padding: 0.5rem;
    border-radius: 2rem;  
}

.font-size-table {
    font-size: 1.2rem
}